
    @import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
*{

	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

}

body{
    text-align: center;
    background-image: url("../images/bg.jpg");
    background-color: #245425;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
}

.logo, .description{
    font-family: 'Press Start 2P', cursive;
}

.logo{
    font-size: 18px;
    line-height: 40px;
    
}

.description{
    font-size: 12px;
}

canvas{
    margin-top: 20px;
}